:root{
  --whitesmoke-color: whitesmoke;
  --btn-color: #f1c40f;
  --btnhover-color: orange;

}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var( --whitesmoke-color);
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  background-color: var( --whitesmoke-color);
}

.logo {
  width: 60vw;
}

#header-img {
  width: 320px;
  height: 110px;
}

nav ul {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #004DA8;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
}

input[type="email"] {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

input[type="submit"] {
  max-width: 200px;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 2px;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--btnhover-color);
  transition: 1s;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
}

.single-feature {
  display: flex;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.feature-icon img {
  width: 50px;
  height: auto;
}

#discover {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#iframe > video {
  max-width: 560px;
  width: 100%;
  height: 315px;
}

#pricing {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pricing .product {
  width: calc(100% / 3);
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

.product img {
  max-width: 300px;
  width: 100%;
  height: 200px;
}

.btn-select {
  padding: 5px;
  max-width: 150px;
  width: 100%;
  background-color: var(--btn-color);
  border-radius: 2px;
  border: none;
  margin: 10px;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-select:hover {
  background-color: var(--btnhover-color);
  transition: 1s;
}

footer{
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  font-weight: 400;
  font-size: 1.6rem;
}

footer ul{
  display: flex;
  justify-content: center; 
}

footer ul li{
  padding: 5px 10px;
}

footer span{
  display: flex;
  justify-content: center;
  color: #444;
  font-size: 1.4rem;
}

@media only screen and (max-width: 850px) {
  #pricing {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .product {
    min-width: 300px;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {

  #header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
  }

  main{
    margin-top: 170px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .feature-icon{
    display: none;
  }

  .feature-desc{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .feature-desc p{
    padding: 5px;
  }
}